.img-fluid{
	width: 90px;
	height: 100px;
}

.product{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 30px;
}

.white-card{
	border: 1px solid black;
	width: 55vw;
}

.desc{
	display: flex;
	flex-direction: column;
	juatify-content: flex-start;
	align-items: center;
}


.whole{
	background-color: #f7fbff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.top{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	width: 30%;
}

.quant-input-cont{
	width: 50px;
	display: flex;
	flex-direction: column;
	
}

input{
	width: 50px;
}

.summary-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid black;
}

.quant{
	border: 1px solid black;
	text-align: center;
}

.summary{
	border-top: 2px solid rgb(94, 164, 243);
	width: 20vw;
	background-color: rgb(247, 251, 255);
	padding-left: 20px;
}

.whole-card{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button{
	background-color: blue;
	color: white;
	border: none;
	font-size: 15px;
	border-radius: 8px;width: 150px; height: 40px;
	margin-top: 15px
}